.bgstyle {
  background: linear-gradient(
    136deg,
    #0a89a8,
    #09104b,
    #402786,
    #132663,
    #050831,
    #08214eef
  );
  /* background: linear-gradient(136deg, #02080f, #0d5cb6, #0acafa, #9b59b6); */

  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 70s ease infinite;
  -moz-animation: AnimationName 70s ease infinite;
  -o-animation: AnimationName 70s ease infinite;
  animation: AnimationName 70s ease infinite;
  height: 100%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

.socialicons {
  color: white !important;
  padding-left: 4px;
  padding-right: 4px;
  transition: all 1s;
  margin: 3px;
}

.socialicons :hover {
  animation-name: icon-wobble;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes icon-wobble {
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
